@import '../../theme/variables.scss';

button {
    cursor: pointer;
    box-sizing: border-box;
    width: 12rem;
    height: 3rem;
    font-size: 1.2rem;
    color: $green;
    font-weight: 700;
    background-color:$white;
    border: 1px solid $green;
    border-radius: 0.2rem;
    transition: 1s;
    margin-left: 1rem;

    svg {
        padding-right: 0.5rem;
    }

    &:hover {
        background-color: $green;
        color: $white;
    }

}

button.filled {
    background-color: $green;
    color: $white;
}

button.reset {
    font-size: 1rem;
    text-decoration: underline;
    color: $red;
    width: 8rem;
    border: none;

    &:hover {
        background-color:$white;
    }
}
