@import '../../theme/variables.scss';

.icon-message {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    
    span {
        font-size: 0.8rem;
        padding-left: 1rem;
    }
}

svg.red {
 color: $red;
}

.green {
 color: $green;
}